<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029662555024-assvb78bv24umg9ttie3o2fou2msb60e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029662555024-assvb78bv24umg9ttie3o2fou2msb60e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029662555024-32kamema5bngu0kjfe03a2feuvj0kbqe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAznu-a4Nkli4KxWghX8hCDHzTlFFHA4og</string>
	<key>GCM_SENDER_ID</key>
	<string>1029662555024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ownerBikeOnline</string>
	<key>PROJECT_ID</key>
	<string>bike-online-ba245</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-online-ba245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029662555024:ios:f7e04cac42c15a3d5b1115</string>
</dict>
</plist>